body {
  background-color: #004643;
}
h1{
  font-size: 50px;
  text-align: center;
  font-family: 	Copperplate;
  color: #fffffe;
}

img {
  height: 175px;
  width: 175px;
  image-rendering: auto;
  float: left;
}

.about h3 {
  color: #fffffe;
}

.about p {
  color: #abd1c6;
}

.about ul {
  color: #abd1c6;
}

.about ol {
  color: #abd1c6;
}

.projects {
  border: 5px solid #f9bc60;
  padding: 10px;
  background-color: #e8e4e6;
  margin: 30px;
  box-sizing: border-box;
  color: #004643
}