body {
  background-color: #232946;
}

h1{
  font-size: 70px;
  text-align: center;
  font-family: 	Copperplate;
  color: #fffffe;
  background-image:url("https://images.pexels.com/photos/2797752/pexels-photo-2797752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

img {
  height: 300px;
  width: 300px;
  image-rendering: auto;
  float: right;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b8c1ec;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #232946;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: #eebbc3;
}

.about h3 {
  font-size: 40px;
  color: #fffffe;
}

.about p {
  color: #b8c1ec;
  font-size: 25px;
}

.about ul {
  color: #b8c1ec;
  font-size: 25px;
}

.about ol {
  color: #b8c1ec;
}

.projects {
  border: 10px solid #eebbc3;
  padding: 5px;
  background-color: #b8c1ec;
  margin: 20px;
  box-sizing: border-box;
  color: #232946;
}


.projects h3 {
  font-size: 40px;
}

.projects ul {
  font-size: 25px;
}